.image {
  border-radius: 8px;
  height: 340px;
  max-width: 500px;
  max-height: 370px;
  margin-top: 20px;
  display: inline-block;
  vertical-align: top;
  object-fit: cover;
}
.button {
  padding: var(--button-default-padding);
  border-radius: 5px;
  color: var(--default-white-color);
  border: none;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 10px;
  right: 10px;
  cursor: pointer;
}
.uploadNotes {
  width: 65vw;
  white-space: nowrap; /* Prevent line break between images */
  overflow-x: auto;
  overflow-y: hidden;
}
.uploadMore {
  height: 340px;
  width: 270px;
  background-color: var(--default-white-color);
  border: 2px solid var(--default-black-color);
  display: inline-block;
  margin-left: 20px;
  border-radius: 8px;
  margin-top: 20px;
  margin-bottom: 20px;
}
.more {
  width: 60px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent-color);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s all ease-in-out;
}
.more:hover {
  width: 70px;
  height: 70px;
}
.picture {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: var(--manrope-font);
}
.input {
  width: 65vw;
  outline: none;
  border: none;
  line-height: 25px;
  font-size: 25px;
  margin-top: 30px;
  padding-bottom: 5px;
  font-family: var(--manrope-font);
  border-bottom: 2px solid var(--accent-color);
}
.back {
  color: var(--accent-color);
  cursor: pointer;
  bottom: 10px;
  left: 20px;
  position: absolute;
}
.back:hover {
  text-decoration: underline;
}
.textarea {
  width: 100%;
  height: 160px;
  resize: none;
  margin-top: 30px;
  border-radius: 8px;
  outline: none;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  font-family: var(--manrope-font);
  line-height: 150%;
}
.textarea:focus {
  outline: 2px solid var(--accent-color);
}
.dropdown {
  display: block;
  cursor: pointer;
  margin-top: 20px;
  font-family: var(--manrope-font);
  padding: 10px 30px;
  border: 1px solid var(--default-black-color);
  border-radius: 5px;
  user-select: none;
  width: 200px;
}
.dropdownMenu {
  position: absolute;
  left: 30px;
  bottom: 170px;
  width: 203px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: auto;
  overflow-x: hidden;

  height: 250px;
  border-radius: 5px;
}

.dropdownMenu ul {
  list-style: none;
  width: 193px;
  padding: 0;
}
.dropdownMenu ul span {
  width: 100%;
  background-color: green;
  text-align: center;
}
.dropdownMenu ul li {
  width: 100%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
.boldText {
  font-family: var(--manrope-bold-font);
  cursor: default;
}
.title {
  font-family: var(--manrope-bold-font);
  text-align: center;
}
.subtext {
  text-align: center;
  font-family: var(--manrope-font);
  width: 65vw;
}
.points {
  font-family: var(--manrope-bold-font);
  font-size: 6rem;
  text-align: center;
  color: var(--accent-color);
  line-height: 150%;
}
