.container {
  display: inline-block;
  height: 280px;
  background-color: var(--default-white-color);
  margin-right: 30px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.container:hover {
  outline: 3px solid var(--accent-color);
}
.container h1 {
  font-family: var(--manrope-bold-font);
}
