.container {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: fixed;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s all ease-in-out;
  z-index: 5000;
}
.container:hover {
  width: 70px;
  height: 70px;
}
/*========= Chat box ==========*/
.chatbox {
  position: fixed;
  bottom: 95px;
  right: 35px;
  width: 353px;
  height: 400px;
  background-color: var(--default-white-color);
  border-radius: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: grid;
  grid-template-rows: 15% 70% 15%;
}
.header {
  width: 100%;
  height: 100%;
  padding-top: 18px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: var(--accent-color);
  color: var(--default-white-color);
  padding-left: 30px;
  font-family: var(--manrope-bold-font);
  font-size: 1.1rem;
}

.box {
  width: 100%;
  background-color: whitesmoke;
  height: 100%;
  overflow-y: scroll;
}
.input {
  width: 100%;
  display: grid;
  grid-template-columns: 85% 15%;
}
.input input {
  outline: none;
  border: none;
  height: 100%;
  border-bottom-left-radius: 8px;
  padding-left: 20px;
  line-height: 20px;
  font-size: 15px;
  font-family: var(--manrope-font);
}
.box ul {
  list-style: none;
  font-family: var(--manrope-font);
}
.box ul li {
  line-height: 200%;
}
.error {
  color: red;
}
.ai {
  color: var(--accent-color);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #40b385;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
  margin: 10px auto;
}
