.title {
  color: var(--accent-color);
  text-align: center;
  font-family: var(--manrope-bold-font);
  font-size: 2rem;
}
.subTitle {
  text-align: center;
  font-family: var(--manrope-font);
  font-size: 1.4rem;
}
.button {
  outline: none;
  padding: 15px 35px;
  border: none;
  margin-top: 10px;
  background-color: var(--accent-color);
  color: var(--default-white-color);
  border-radius: 5px;

  cursor: pointer;
}
