/* DefaultLayout.module.css */
.layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.headerWrapper {
  margin-right: 80px; /* Default margin for desktop */
}

.mainContent {
  flex: 1;
}

@media (max-width: 767px) {
  .headerWrapper {
    margin-right: 0; /* Remove margin on mobile */
  }
}
