.container {
  width: 75vw;
  padding-left: 20px;
  padding-right: 20px;
}
.input {
  outline: none;
  box-shadow: none;
  font-weight: 400;
  margin-top: 10px;
  font-family: var(--primary-font);
  line-height: 20px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  padding-left: 15px;
  height: 38px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
}
.input:focus {
  border-color: var(--accent-color);
}
.textarea {
  outline: none;
  box-shadow: none;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
  margin-top: 10px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid rgba(234, 240, 238, 255);
  padding-left: 15px;
  padding-top: 15px;
  width: 100%;
  background-color: rgba(234, 240, 238, 255);
  height: 100px;
  transition: border-color 0.3s ease-in-out;
  resize: none;
}
.textarea:focus {
  border-color: var(--accent-color);
}
.label {
  line-height: 30px;
  font-family: var(--manrope-font);
}
.book {
  position: absolute;
  right: 30px;
  bottom: 30px;
  width: fit-content;
  padding: var(--button-default-padding);
  cursor: pointer;
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  color: white;
  border: none;
  border-radius: 30px;
  padding-left: 45px;
  padding-right: 45px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.error {
  color: var(--danger-color);
  position: absolute;
  left: 30px;
  bottom: 20px;
}
.time {
  font-family: var(--manrope-font);
  user-select: none;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  margin-top: 10px;
}
.time:focus {
  border-bottom: 1px solid var(--accent-color);
}
.title {
  text-align: center;
  font-size: 1.8rem;
  font-family: var(--manrope-bold-font);
  padding-left: 100px;
  padding-right: 100px;
  width: 75vw;
  margin-top: 100px;
}
.subTitle {
  text-align: center;
  font-size: 1.2rem;
  font-family: var(--manrope-bold-font);
  padding-left: 100px;
  padding-right: 100px;
  margin-top: 50px;
}
.button {
  background-color: var(--accent-color);
  border: none;
  padding: var(--button-default-padding);
  border-radius: var(--button-default-border-radius);
  color: var(--default-white-color);
  cursor: pointer;
  margin-top: 20px;
}

.dropdown {
  cursor: pointer;
  margin-top: 10px;
  font-family: var(--manrope-font);
  padding: 5px 15px;
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  user-select: none;
  width: 50%;
  height: 32px;
}
.dropdownMenu {
  position: absolute;
  left: 25px;
  top: 150px;
  width: 203px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow-y: auto;
  overflow-x: hidden;

  height: 250px;
  border-radius: 5px;
}

.dropdownMenu ul {
  list-style: none;
  width: 193px;
  padding: 0;
}
.dropdownMenu ul span {
  width: 100%;
  background-color: green;
  text-align: center;
}
.dropdownMenu ul li {
  width: 100%;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}