.container {
  width: 75vw;
  height: 78vh;
  display: grid;
  grid-template-columns: 50% 50%;
}
.button {
  padding: 10px 10px;
  cursor: pointer;
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  color: white;
  border: none;
  border-radius: var(--third-party-login-card-radius);
}
.detail {
  text-align: left;
  margin-top: auto;
  margin-bottom: auto;
  padding: 30px;
}
.detail h1 {
  font-family: var(--manrope-bold-font);
}
.detail h2 {
  font-family: var(--manrope-font);
  font-size: 1rem;
}
.detail h2 span {
  color: var(--accent-color);
}
.detail h2 b {
  font-family: var(--manrope-bold-font);
}
@media all and (max-height: 900px) {
  .container {
    height: 48vh;
  }
}

@media all and (max-width: 767px) {
  .container {
    grid-template-columns: 100%;
  }
  .detail h1 {
    display: none;
  }
  .detail h2 {
    display: none;
  }
  .detail i {
    display: none;
  }
}
