.button {
  padding: 15px 10px;
  cursor: pointer;
  background-color: var(--accent-color);
  font-family: var(--primary-font);
  color: white;
  border: none;
  border-radius: var(--third-party-login-card-radius);
}
.title {
  font-family: var(--manrope-bold-font);
  font-size: 2rem;
}
