.container {
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: whitesmoke;
  padding: 15px;
}

@media all and (max-width: 808px) {
  .container {
    display: grid;
    grid-template-columns: 100%;
    background-color: whitesmoke;
  }
}
