.title {
  text-align: center;
  font-family: var(--manrope-bold-font);
  max-width: 800px;
  font-size: 1.8rem;
}
.desc {
  text-align: center;
  font-family: var(--manrope-font);
  line-height: 25px;
  margin-top: 10px;
}
.start {
  background-color: var(--accent-color);
  padding: var(--button-default-padding);
  border-radius: var(--button-default-border-radius);
  border: none;
  color: var(--default-white-color);
  cursor: pointer;
}
.container {
  width: 100%;
  height: calc(100vh - var(--header-height));
  max-width: 100vw;
  max-height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--accent-color);
}
.box {
  background-color: var(--default-white-color);
  padding: 30px;
  border-radius: 8px;
}
.texts {
  width: 50vw;
  font-family: var(--manrope-font);
}
.circleBackground {
  height: calc(100vh - var(--header-height));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-height: calc(100vh - var(--header-height));
  overflow-x: hidden;
  background-color: whitesmoke;
}
@keyframes pulseAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.center_circle {
  z-index: 5;
  background-color: var(--default-white-color);
  border-radius: 50%;
  padding: 20px;
  animation: pulseAnimation 2s infinite ease-in-out;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.button {
  background-color: #008577;
  color: white;
  border: none;
  padding: 15px 30px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}
.button:hover {
  background-color: #00695c;
}
.timer {
  font-size: 2.5em;
  margin: 20px 0;
  margin-top: 35px;
  color: #333;
  text-align: center;
}
.ratingStars {
  display: inline-block;
}

.star {
  font-size: 35px;
  cursor: pointer;
  color: #ccc;
  margin-left: 5px;
}

.selected {
  color: orange;
}
.center {
  background-color: var(--default-white-color);
  width: 450px;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.center h1 {
  font-family: var(--manrope-bold-font);
}
.center p {
  font-family: var(--manrope-font);
  line-height: 200%;
}
.center button {
  padding: var(--button-default-padding);
  border-radius: var(--button-default-border-radius);
  outline: none;
  border: none;
  cursor: pointer;
  margin-top: 5px;
  color: var(--default-white-color);
  background-color: var(--accent-color);
}
.stay {
  display: inline;
  margin-left: 10px;
}
.middle {
  display: block;
  margin-top: 10px;
  margin-right: 10px;
}
@media all and (max-width: 767px) {
  .center {
    width: 350px;
  }
  .stay {
    display: block;
    text-align: center;
  }
  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
