html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --accent-color: green;
  --button-acent-color: rgb(106, 255, 0);
  --button-hover-color: darkgreen;

  --success-color: green;
  --danger-color: red;
  --light-grey-color: rgb(227, 227, 227);

  --input-border-color: lightgrey;

  --primary-font: "Lato", "Noto Sans", "Helvetica", "sans-serif";

  --card-border-radious: 8px;
  --third-party-login-card-radius: 4px;

  --header-height: 70px;
}
