html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
:root {
  --accent-color: #40b385;
  --secondary-color: lightgreen;
  --tertiary-color: rgb(26, 174, 26);

  --button-accent-color: #40b385;
  --button-hover-color: darkgreen;
  --button-default-padding: 12px 32px;
  --button-default-border-radius: 50px;

  --default-white-color: white;
  --default-black-color: black;
  --default-grey-color: rgba(142, 158, 150, 255);
  --default-light-grey-color: #756f6f;

  --success-color: green;
  --neutral-color: yellow;
  --danger-color: rgb(230, 66, 66);

  --input-border-color: lightgrey;
  --input-color: white;

  --text-primary-color: black;
  --text-muted-color: #6f6f64;
  --primary-font: "Lato", "Noto Sans", "Helvetica", "sans-serif";
  --manrope-font: "Manrope", "Noto Sans", "Helvetica", "sans-serif";
  --manrope-bold-font: "Manrope-Bold", "Noto Sans", "Helvetica", "sans-serif";

  --card-border-radious: 8px;
  --third-party-login-card-radius: 4px;

  --header-height: 70px;
  --header-item-margin: 0 25px;

  --mobile-phone-portrait: 480px;
  --mobile-phone-landscape: 767px;
  --tablet: 1023px;
  --small-laptop-desktop: 1365px;
  --medium-laptop-desktop: 1919px;
  --large-laptop-desktop: 1920px;
}
