.noteContainer {
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  max-width: 800px;
  word-break: normal;
  margin-top: 30px;
  margin-bottom: 100px;
  font-family: var(--manrope-font);
}
.noteContainer h1 {
  font-family: var(--manrope-bold-font);
  font-size: 2.7rem;
  line-height: 200%;
  display: inline;
  font-style: italic;
}
.noteContainer h2 {
  font-size: 1.1rem;
  line-height: 150%;
  margin-top: 20px;
  display: inline;
}
.noteContainer h2 span {
  text-decoration: underline;
}
.noteContainer h2 span:hover {
  text-decoration: none;
}
.noteContainer h3 {
  display: inline;
  font-size: 0.8rem;
  line-height: 350%;
}
.back {
  margin-top: 40px;
  margin-left: 90px;
  cursor: pointer;
}
.comments {
  font-size: 1.7rem;
}
.blackLine {
  width: 100%;
  height: 1px;
  margin-bottom: 10px;
  background-color: black;
}
.imageScroll {
  width: 100%;
  margin-top: 20px;
  height: 100%;

  white-space: nowrap;
  overflow-x: scroll;
  scrollbar-width: none;
}
.line {
  width: 100%;
  height: 2px;
  background-color: var(--accent-color);
}
.textarea {
  width: 100%;
  resize: none;
  margin-top: 10px;
  height: 100px;
  outline: none;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  font-family: var(--manrope-font);
  line-height: 200%;
}
.button {
  background-color: var(--accent-color);
  color: var(--default-white-color);
  padding: var(--button-default-padding);
  border-radius: 4px;
  outline: none;
  border: none;
  margin-top: 5px;
  cursor: pointer;
}
.items {
  list-style: none;
  padding: 0px;
}
.items li {
  display: inline-block;
  padding: 5px 30px;
  border-radius: 17px;
  border: 1px solid black;
  margin-right: 15px;
  cursor: pointer;
  font-family: var(--manrope-font);
}
@media all and (max-width: 767px) {
  .back {
    margin-top: 30px;
    margin-left: 20px;
  }
  .noteContainer {
    width: 80%;
    word-break: normal;
  }
}
