.grids {
  display: grid;
  grid-template-columns: 25% 75%;
}
.create_notes {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--accent-color);
  position: absolute;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 3px;
  padding-bottom: 3px;
  transition: 0.5s all ease-in-out;
}
.create_notes:hover {
  width: 70px;
  height: 70px;
}
.select {
  position: absolute;
  bottom: 50px;
  right: 80px;
  list-style: none;
  display: none;

  cursor: pointer;
  background-color: var(--default-white-color);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
}
.select li {
  padding-top: 25px;
  text-align: left;
  padding-bottom: 25px;
  font-family: var(--manrope-font);
  cursor: pointer;
  user-select: none;
  width: 100%;
}
.select li:first-child {
  border-bottom: 1px solid var(--default-black-color);
}
.selected {
  background-color: var(--accent-color);
}
/* ======== Search =========*/
.searchContainer {
  padding-top: 10px;
  height: calc(97vh);
  width: 25vw;
  border-right: 2px solid var(--accent-color);
  padding-left: 40px;
  padding-right: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchContainer form .input {
  width: 100%;
  display: block;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  padding-left: 15px;
  height: 32px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
  font-family: var(--manrope-font);
}
.searchContainer form input:focus {
  border-color: var(--accent-color);
}
.searchContainer form textarea {
  width: 100%;
  height: 250px;
  display: block;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  font-family: var(--manrope-font);
  padding-left: 15px;
  padding-top: 15px;

  transition: border-color 0.3s ease-in-out;
  resize: none;
  margin-top: 20px;
}
.searchContainer form select {
  width: 100%;
  outline: none;
  margin-top: 20px;
  height: 30px;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid var(--default-black-color);
  font-family: var(--manrope-font);
}
.searchContainer form select option {
  font-family: var(--manrope-font);
}

.date {
  margin-top: 20px;
  cursor: pointer;
  user-select: none;
  width: 100%;
  display: block;
  outline: none;
  box-shadow: none;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  padding-left: 15px;
  height: 32px;
  width: 100%;
  transition: border-color 0.3s ease-in-out;
  font-family: var(--manrope-font);
}
.searchContainer form button {
  background-color: var(--accent-color);
  color: var(--default-white-color);
  border: none;
  outline: none;
  padding: 10px 15px;
  border-radius: 5px;
  margin-top: 10px;
  width: 100%;
  cursor: pointer;
}
.notes {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: calc(90vh);
}

.note {
  width: 88%;
  height: calc(70vh);
  overflow-y: auto;
  padding-bottom: 50px;
  overflow-x: hidden;
}
.note::-webkit-scrollbar {
  width: 12px;
}
/* Track */
.note::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.note::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.note::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.notes > ul li {
  display: inline-block;
  background-color: var(--accent-color);
  color: var(--default-white-color);
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}
.clearStyle {
  cursor: pointer;
}
.clearStyle:hover {
  text-decoration: underline;
}
.noNotes {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-style: italic;
  width: 100%;
  height: calc(80vh);
}
.results {
  font-family: var(--manrope-font);
  padding-top: 10px;
  margin-left: 50px;
}
@media all and (max-width: 808px) {
  .grids {
    grid-template-columns: 100%;
  }
  .searchContainer {
    width: 100vw;
    padding-left: 0px;
    padding-right: 0px;
    border-right: none;
    padding: 0px;
    height: 260px;
  }
  .searchContainer form {
    width: 90%;
  }
  .note {
    width: 97%;
  }
  .searchContainer form .input {
    width: 99%;
    height: 55px;
  }
  .searchContainer form textarea {
    display: none;
  }
  .searchContainer form select {
    display: inline-block;
    height: 38px;
    width: 47%;
  }
  .date {
    display: inline-block;
    width: 47%;
    height: 38px;
    margin-left: 15px;
  }
  .clearStyle {
    text-align: center;
  }
  .results {
    display: none;
  }
  .notes ul {
    display: none;
  }
  .note {
    width: 100%;
  }
  .notes {
    height: 60vh;
  }
}
