.background {
  background-color: var(--accent-color);
  width: 100%;
  height: calc(100vh - var(--header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  padding: 50px 80px;
  border-radius: 8px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  font-family: var(--manrope-bold-font);
}
.input {
  outline: none;
  box-shadow: none;
  display: inline-block;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid var(--input-border-color);
  padding-left: 15px;
  height: 32px;
  width: 400px;
  transition: border-color 0.3s ease-in-out;
  vertical-align: middle;
}
.input:focus {
  border-color: var(--accent-color);
}
.button {
  background-color: var(--accent-color);
  outline: none;
  color: var(--default-white-color);
  border: none;
  display: inline-block;
  padding: 9px 10px;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
  font-family: var(--manrope-font);
}
