.profile_pic {
  position: absolute;
  top: 150px;
  left: 100px;
  border-radius: 50%;
  padding: 5px;
  background-color: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.userInfo {
  padding: 100px;
  padding-bottom: 0px;

  margin-top: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.userInfo h1 {
  font-family: var(--primary-font);
  font-size: 2.3rem;
}
.userInfo h2 {
  font-family: var(--primary-font);
  font-size: 1.4rem;
  font-weight: lighter;
}
.line {
  width: calc(
    100% - 200px
  ); /* Adjust the total width by subtracting padding values from 100% */
  height: 1px;
  background-color: lightgray;
  margin-top: 20px;
  margin-left: auto; /* Center the line */
  margin-right: auto; /* Center the line */
}
.end {
  width: 100%;

  display: flex;
  justify-content: end;
}
.button {
  padding: 0px 25px;
  height: 45px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 6px;
  background-color: black;
  margin-left: 10px;
  color: white;
  position: relative;
  top: 0px;
  right: 10px;
}
.contentContainer {
  padding-left: 100px;
  padding-right: 100px;
  display: grid;
  grid-template-columns: 74% 1% 25%;
}
.contentContainer h1 {
  font-size: 1.4rem;
  font-family: var(--primary-font);
}
.verticalLine {
  width: 1px;
  height: 100%;
  background-color: var(--accent-color);
  margin-top: 30px;
  margin-bottom: 30px;
}
.exp {
  width: 100%;
  margin-left: 5px;
  height: 250px;
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  cursor: pointer;
  display: grid;
  grid-template-rows: 50% 50%;
  font-family: var(--primary-font);
}
.exp img {
  height: 120px;
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.exp h1 {
  font-size: 1rem;
  padding-left: 20px;
}
.exp h2 {
  font-size: 0.9rem;
  padding-left: 20px;
}
.exp span {
  padding-left: 20px;
}

@media all and (max-width: 1023px) {
  .profile_pic {
    left: 30%;
  }
  .userInfo {
    display: block;
    text-align: center;
  }
  .end {
    margin-top: 20px;
  }
  .contentContainer {
    grid-template-columns: 100%;
  }
}
