.header {
  padding-left: 20px;
  padding-top: 20px;
  font-family: var(--manrope-bold-font);
}
.list {
  list-style: none;
  padding-left: 20px;
}
.list li {
  width: 98%;
  height: fit-content;
  position: relative;
  padding-top: 15px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: var(--manrope-font);
  border-radius: 8px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: var(--default-white-color);
}
.button {
  padding: var(--button-default-padding);
  border-radius: var(--button-default-border-radius);
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
  display: inline-block;
  margin-left: 20px;
}
.input {
  border: 1px solid black;
  outline: none;
  width: 225px;
  padding-left: 10px;
  height: 39px;
  display: inline-block;
  margin-left: 5px;
  margin-top: 15px;
}
.sinput {
  outline: none;
  box-shadow: none;
  font-weight: 400;
  font-family: var(--primary-font);
  line-height: 20px;
  border-radius: var(--third-party-login-card-radius);
  font-size: 16px;
  border: 1px solid black;
  padding-left: 15px;
  height: 45px;
  width: 65vw;
  margin-top: 10px;
  transition: border-color 0.3s ease-in-out;
  margin-left: 20px;
}
.button {
  padding: var(--button-default-padding);
  border-radius: var(--button-default-border-radius);
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
  display: inline-block;
  margin-left: 20px;
  height: 45px;
}
.refresh {
  padding-left: 20px;
  color: var(--accent-color);
  font-family: var(--manrope-font);
}
.refresh:hover {
  text-decoration: underline;
  cursor: pointer;
}
