.header {
  padding-left: 20px;
  padding-top: 20px;
  font-family: var(--manrope-bold-font);
}
.list {
  list-style: none;
  padding-left: 20px;
}
.list li {
  width: 98%;
  height: fit-content;
  position: relative;
  padding-top: 15px;
  margin-top: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  font-family: var(--manrope-font);
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: var(--default-white-color);
}
.button {
  padding: var(--button-default-padding);
  border-radius: var(--button-default-border-radius);
  border: none;
  cursor: pointer;
  background-color: var(--accent-color);
  color: white;
  position: absolute;
  top: 25%;
  right: 30px;
}
